.idea
*.iws
*.ipr
*.iml
*.merge*
target
build
.gradle
.settings
.classpath
.project
.idea
.sonar-ide.properties
nbactions.xml
nb-configuration.xml
nbactions.xml
data
dbRepository
properties
resources
silvertrace
xmlcomponents
jcr
log
